.slick-dots {
    top : 450px;
}

.App {
    text-align: center;
    min-height:100vh;
  }

  .slick-slider /*슬라이드 틀 조정*/
{
    position:relative;
    background: #fffff4;
    display:inline-block;
    width: 800px;
    height: 500px;
    align-items: center;
    justify-content: center;
    
}

.slick-arrow{
    display: none;
}